DEBUG=FALSE
CASHU_DIR=~/.cashu

# --------- WALLET ---------

# Address of the default mint to connect to
# MINT_URL=https://localhost:3338
MINT_HOST=127.0.0.1
MINT_PORT=3338

# use builtin tor, this overrides SOCKS_HOST and SOCKS_PORT
TOR=TRUE

# use custom tor proxy, this will only work with TOR=false
#SOCKS_HOST=localhost
#SOCKS_PORT=9050

# NOSTR
# nostr private key to which to receive tokens to
NOSTR_PRIVATE_KEY=nostr_privatekey_here_hex_or_bech32
# nostr relays (comma separated list)
NOSTR_RELAYS=["wss://nostr-pub.wellorder.net"]

# Wallet API port
API_PORT=4448

# --------- MINT ---------

# Network
MINT_LISTEN_HOST=127.0.0.1
MINT_LISTEN_PORT=3338

# Mint information
MINT_INFO_NAME="My Cashu mint"
MINT_INFO_DESCRIPTION="The short mint description"
MINT_INFO_DESCRIPTION_LONG="A long mint description that can be a long piece of text."
MINT_INFO_CONTACT=[["email","contact@me.com"], ["twitter","@me"], ["nostr",  "npub..."]]
MINT_INFO_MOTD="Message to users"

MINT_PRIVATE_KEY=supersecretprivatekey
MINT_DATABASE=data/mint
# increment derivation path to rotate to a new keyset
MINT_DERIVATION_PATH="0/0/0/0"

# Lightning 
# Supported: LNbitsWallet, FakeWallet
MINT_LIGHTNING_BACKEND=LNbitsWallet 

# for use with LNbitsWallet
MINT_LNBITS_ENDPOINT=https://legend.lnbits.com
MINT_LNBITS_KEY=yourkeyasdasdasd

# fee to reserve in percent of the amount
LIGHTNING_FEE_PERCENT=1.0 
# minimum fee to reserve
LIGHTNING_RESERVE_FEE_MIN=2000 

# Management
# max peg-in amount in satoshis
# MINT_MAX_PEG_IN=100000 
# max peg-out amount in satoshis
# MINT_MAX_PEG_OUT=100000 
# use to allow only peg-out to LN
# MINT_PEG_OUT_ONLY=FALSE 

