[tool.poetry]
name = "cashu"
version = "0.0.1"
description = "Ecash wallet and mint."
authors = ["calle <callebtc@protonmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
pycrypto = "^2.6.1"
requests = "2.27.1"
pytest-asyncio = "0.19.0"
SQLAlchemy = "1.3.24"
sqlalchemy-aio = "0.17.0"
charset-normalizer = "2.0.12"
click = "8.0.4"
Flask = "2.2.2"
idna = "3.3"
itsdangerous = "2.1.1"
Jinja2 = "3.0.3"
MarkupSafe = "2.1.1"
urllib3 = "1.23"
Werkzeug = "2.2.2"
asgiref = "^3.5.2"
pydantic = "^1.10.2"
bech32 = "^1.2.0"
psycopg2-binary = "^2.9.3"
fastapi = "^0.83.0"
environs = "^9.5.0"
uvicorn = "^0.18.3"
loguru = "^0.6.0"
ecdsa = "^0.18.0"
bitstring = "^3.1.9"
secp256k1 = "^0.14.0"

[tool.poetry.dev-dependencies]
black = {version = "^22.8.0", allow-prereleases = true}
isort = "^5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
mint = "mint.app:main"
cashu = "wallet.cashu:cli"
wallet-test = "tests.test_wallet:test"